.pricing-box {
  background: linear-gradient(178deg, rgb(0, 1, 34), rgb(0, 174, 255));
  color: white;
  padding: 20px;
  padding-top: 0;
  backdrop-filter: blur(12px);
  border-radius: 12px;
  text-align: center;
  width: 100%;
  height: 345px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  margin-bottom: 30px;

  .icon {
    background: #59b1f6;
    width: 125px;
    height: 135px;
    margin: 0 auto;
    border-radius: 0 0 100px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6a0dad;
    img {
        width: 115px;
        filter: drop-shadow(0px 2px 4px #333);
    }
  }

  .price {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    color: #ffffff;
    text-shadow: 0px 1px 7px #4e0d81;
  }

  .package-name {
    font-size: 17px;    color: #ffffff;
  }

  .discount {
    background:rgb(164 118 210 / 82%);
    /* display: inline-block; */
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 16px;
    margin: 10px 0 0;
    color: #ffffff;
  }
  .enterAmount{
    background: rgb(164 118 210 / 82%);
    /* display: inline-block; */
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 15px;
    margin: 10px 0 5px;
    color: #ffffff;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    border: none;
    &::placeholder {
      color: #ffffffd0;
    }
  }

  .buy-now {
    background: linear-gradient(356deg, rgb(41, 136, 239), rgb(131, 214, 253)) !important;
    color: #0d0d0d;
    border: none;
    padding: 7px 15px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    width: 84%;
    position: absolute;
    bottom:-6px;
    left: 50%;
    transform: translate(-50%, -50%);

    &:hover {
      background: #ffffff;
      color: black;
    }
  }
}

.custom-modal {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mymodal-header {
  border-bottom: 1px solid #dee2e6;
}

.mymodal-body {
  padding: 20px;
}